In [1]:
import pandas as pd

import numpy as np

In [2]:
df=pd.read_csv('diabetesdataset.csv')
df

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101,76,48,180,32.9,0.171,63,0
764,764,2,122,70,27,0,36.8,0.340,27,0
765,765,5,121,72,23,112,26.2,0.245,30,0
766,766,1,126,60,0,0,30.1,0.349,47,1
767,767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.shape

(768, 9)

In [7]:
print("Number of Rows : ", df.shape[0])

print("Number of Columns : ", df.shape[1])

Number of Rows :  768
Number of Columns :  9

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
data_copy=df.copy(deep=True)

In [12]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [13]:
data_copy[[
    'Glucose',
    'BloodPressure', 'SkinThickness', 'Insulin','BMI'
    
]]=data_copy[[
    'Glucose',
    'BloodPressure', 'SkinThickness', 'Insulin','BMI'
    
]].replace(0, np.nan)

In [14]:
#Check the Missing Values 


data_copy.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [15]:
# Now fill the missing values with mean of every columns

In [16]:
df['Glucose']=df['Glucose'].replace(0,df['Glucose'].mean())

In [17]:
df['BloodPressure']=df['BloodPressure'].replace(0,df['BloodPressure'].mean())

In [18]:
df['SkinThickness']=df['SkinThickness'].replace(0,df['SkinThickness'].mean())

In [19]:
df['Insulin']=df['Insulin'].replace(0,df['Insulin'].mean())

In [20]:
df['BMI']=df['BMI'].replace(0,df['BMI'].mean())

# Store Feature Matrix in X and Response (Target) In verctor y

In [21]:
X=df.drop("Outcome", axis=1)
y=df['Outcome']

# Splitting the Dataset into the Training Set and Test Test

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test=train_test_split(X,y, test_size=0.20, random_state=42)

# Scikit-Learn PipeLine

In [23]:
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression

from sklearn.neighbors import KNeighborsClassifier

from sklearn.svm import SVC

from sklearn.tree import DecisionTreeClassifier


from sklearn.ensemble import RandomForestClassifier

from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline

In [24]:
pipeline_lr=Pipeline([('scalar1', StandardScaler()),
                     ('lr_classifier',LogisticRegression())])



pipeline_knn=Pipeline([('scalar2', StandardScaler()),
                     ('knn_classifier',KNeighborsClassifier())])



pipeline_svc=Pipeline([('scalar3', StandardScaler()),
                     ('svc_classifier',SVC())])


pipeline_dt=Pipeline([('dt_classifier',DecisionTreeClassifier())])


pipeline_rf=Pipeline([('rf_classifier',RandomForestClassifier(max_depth=3))])
                     
                     
pipeline_gbc=Pipeline([('gbc_classifier',GradientBoostingClassifier())])

In [25]:


pipelines=[
    
    
    pipeline_lr,
    pipeline_knn,
    pipeline_svc,
    pipeline_dt,
    pipeline_rf,
    pipeline_gbc
]

In [26]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [27]:
#Train the Models with PipeLines 

for pipe in pipelines:
    pipe.fit(X_train, y_train)

In [28]:
pipe_dict={0:'LR',
          1:"KNN",
           2:"SVC",
           3:"DT",
           4:'RF',
           5:"GBC"
          }

In [29]:
pipe_dict

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [30]:
#Accuracy  with All Algorithm

for i,model in enumerate(pipelines):
    print(f"{pipe_dict[i]} Test Accuracy : {model.score(X_test,y_test)*100}")

LR Test Accuracy : 76.62337662337663
KNN Test Accuracy : 76.62337662337663
SVC Test Accuracy : 73.37662337662337
DT Test Accuracy : 74.02597402597402
RF Test Accuracy : 78.57142857142857
GBC Test Accuracy : 75.97402597402598

In [31]:
# New Training 

X=df.drop('Outcome', axis=1)

y=df['Outcome']

In [32]:
rf=RandomForestClassifier(max_depth=3)

In [33]:
rf.fit(X, y)

RandomForestClassifier(max_depth=3)

In [34]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

# Prediction on New Data

In [35]:
new_data=pd.DataFrame({'Pregnancies':6, 
                       'Glucose':148.0,
                       'BloodPressure':72.0,
                       'SkinThickness':35.0,
                       
                       'Insulin':79.799479,
                       'BMI':33.6,
                       'DiabetesPedigreeFunction':0.627,
                       
                       'Age':50
                       
                       
                       
                       
                       
                      
                      }, index=[0])

In [36]:
#now predict on New Data 


#rf.predict(new_data)

In [37]:


p=rf.predict(new_data)

In [38]:
if p[0]==0:
    print("Non-Diabatic")
else:
      print("Diabatic")

Diabatic

# Save the Model Using Joblib

In [39]:
import joblib

In [40]:
joblib.dump(rf,'model_diabetes')

['model_diabetes']

# Now load the Again for Tesing

In [41]:
model_test=joblib.load('model_diabetes')

In [42]:
model_test.predict(new_data)

array([1], dtype=int64)